<div class="container">
  <% if current_user.try(:admin?) %>
  <div class="row">
  
    <strong><u>Admin controls</u></strong>
    Add a new product here
    <%= button_to 'Add product', new_product_path, method: :get %>

  </div>
  <% end%>

  <div class="row">
    <div class="col testbg">
      rotating banner here </br>
      Hot deals, lobangz </br>
      use carosel from bootstrap
    
    </div>
  </div>

  <div class="row">
    Display all products here
  
  </div>



</div>

